# Byte-compiled
__pycache__/

# vscode
.vscode/

# scripts and tests
scripts/
test*.py
/*.sh

# other data
data/predict/*
data/test/
data/viewerMetadata/*

# third-pary venv
third_pary/pop-music-highlighter/venv
